// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

.cv-date{
	color: #5a5a5a;
	font-size: 80%;
	margin-left:1%;
}

.cv-keywords {
	list-style-type: none;
}